@font-face {
  font-family: "IRANSansWeb";
  src: url("./fonts/IRANSansWeb_LightJustPersianNum.woff");
  /* src: url("./fonts/Vazir-persian-digits-overwrite.woff"); */
}

html,
body {
  font-family: "IRANSansWeb", tahoma;
  font-size: 15px;
  font-weight: 600;
  color: #123;
  height: 100%;
  background-color: rgb(f, f, f);
  /* background-color: #cccccc; */

}
